/data/opendata-tk/all_speeches_pdf/
/data/opendata-tk/all_speeches_pdf.tar.gz
/data/opendata-tk/seperated_speeches_2014-2024/
/data/opendata-tk/seperated_speeches_2014-2024.tar.gz
/data/opendata-tk/combined_speeches_2014-2024.csv
/data/opendata-tk/combined_speeches_2014-2024.csv.tar.gz
/data/opendata-tk/opendata-notebooks/tweede_pdfs2024/
/data/opendata-tk/opendata-notebooks/tweede_pdfs2024.tar.gz
/data/opendata-tk/opendata-notebooks/tweede_2024.csv
/data/opendata-tk/opendata-notebooks/tweede_2024.csv.tar.gz
/data/api/data/
